<!DOCTYPE html>


<head>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<section id="hero">
    <div class="container fade-in-text" data-aos="zoom-in" data-aos-delay="100">
        <h1>Vedant Arole</h1>
        <p>I'm Passionate <span class="home">UI/UX Developer</span></p>
   
        <div class="social-links">

            <a href="https://twitter.com/ved7669" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.instagram.com/vedant7669/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://secure.skype.com/portal/overview" class="skype" target="_blank"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/in/vedant-arole-8758b0205/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>

        </div>
    </div>


</section>  

