.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
    cursor:pointer;
  }
  
  @media (max-width: 992px) {
    .credits {
      text-align: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  
  .credits strong {
    color: #18d26e;
    transition: 0.3s;
  }
  
  .credits strong:hover {
    color: greenyellow;
    
  }
