.section-title {
    margin-top: 135px;
    text-align: center;
    padding-bottom: 0px;
}

.section-title h2 {
    font-size: 32px;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: greenyellow;
    bottom: 0;
    left: calc(50% - 20px);
}

.service h4 {
    margin: 25px 0;
    font-size: 24px;
    font-weight: 700;
    color: yellowgreen;
}

.service p {
    color: whitesmoke;
    margin-bottom: 0;
}

.service-content{
    padding-top: 40px;
margin-bottom: inherit;
}

