<!DOCTYPE html>

<section id="service" class="site-section section-services overlay text-center fade-in-text">
    <div class="container">
        <div class="section-title">
            <h2>What I Do</h2>
        </div> 

        <div class="row service-content">
           
            <div class="col-sm-4">
                <div class="service">
                  
                    <h4>Front-end</h4>
                    <p>As a front-end developer, I have experience in HTML5 and CSS3 techniques working with Bootstrap or more advanced javascript MVC frameworks such as Angular</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service">
             
                    <h4>Back-end</h4>
                    <p>Utilising Angular frameworks such as Ionic for mobile app development or creating bespoke code, I've written services supporting thousands of users, including REST APIs, e-commerce applications and more.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-sm-4">
                <div class="service">
                 
                    <h4>Consultancy</h4>
                    <p>As well as providing development services, I can also help you decide strategic roadmaps via consultancy services.</p>
                </div><!-- /.service -->
            </div>
        </div>
    </div>
</section><!-- /.secton-services -->
<br><br><br>