<!DOCTYPE html>
<head> <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet"></head>



<section id="contact" class="contact fade-in-text">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <a href="https://www.google.com/maps/dir/18.4833773,73.8137652/Audumbar+Colony+-+B,+Snehankit+Colony,+Karve+Nagar,+Pune,+Maharashtra+411052/@18.4835392,73.8109272,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bc2bfdefa1c36db:0x23e2363d97bd8a4!2m2!1d73.8140608!2d18.4837321"
                            target="_blank"><i class="bx bx-map"></i></a>
                        <h2>Location</h2>
                        <p>Karve nagar , Pune</p>
                    </div>
                    <br><br>
                    <div class="email">
                        <i class="bx bx-envelope"></i>
                        <h2>Email: </h2>
                        <p>vedantarole3@gmail.com</p>
                    </div>
                    <br><br>
                    <div class="number">
                        <i class="bx bx-phone"></i>
                        <h2>Call: </h2>
                        <p>+91 9545044387</p>
                    </div>
                    <br><br>
                </div>

            </div>
            <div class="col-lg-8 form1">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Full Name" class="form-control" id="abc">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Contact No" class="form-control" id="xyz">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" id="poi">
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Address" class="form-control" rows="8"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit">Submit</button>
                    </div>
                </form>



            </div>
        </div>
    </div>


</section>

<br><br>

